{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/glide.core.min.css') }}">
{% endblock head %}

{% block content %}
  <div id="home" class="home-section inverse text-center">
    <div class="row justify-content-center">
      <div class="glide">
        <div data-glide-el="track" class="glide__track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <img src="{{ url_for('static', filename='img/1.jpg')}}">
            </li>
            <li class="glide__slide">
              <img src="{{ url_for('static', filename='img/2.jpg')}}">
            </li>
            <li class="glide__slide">
              <img src="{{ url_for('static', filename='img/3.jpg')}}">
            </li>
            <li class="glide__slide">
              <img src="{{ url_for('static', filename='img/4.jpg')}}">
            </li>
            <li class="glide__slide">
              <img src="{{ url_for('static', filename='img/5.jpg')}}">
            </li>
          </ul>
        </div>

        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
        </div>
      </div>
    </div>
  </div>

  <div id="benefits" class="home-section white">
    <div class="row justify-content-center">
      <div class="col-9">
        <div class="row justify-content-left">

        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='js/glide.min.js') }}"></script>
  <script type="text/javascript">
    new Glide('.glide', {
      type: 'carousel',
      startAt: 0,
      perView: 3
    }).mount();
  </script>
  <script type="text/javascript"
          src="{{ url_for('static', filename='js/smooth-scroll.js') }}"></script>
{% endblock scripts %}
