{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
  <div id="home" class="home-section inverse text-center">
    <div class="row justify-content-center">
      <div class="col-sm-11">
        <img id="home-logo" class="img-fluid"
          src="{{ url_for('.static', filename='img/logo-white.svg') }}" alt="">
        <h1 id="home-title">a good production company</h1>


      </div>
    </div>
  </div>

  <div id="benefits" class="home-section white">
    <div class="row justify-content-center">
      <div class="col-9">
        <div class="row justify-content-center">
          <h1 class="mb-5">Aaron Good gets you. It doesn't matter what you look like, what
            you're feeling, what you're saying, Aaron sees you, he feels you,
            he hears you. If you have a complaint, he understands. If you are
            thrilled with the final cut, he will join in your ecstasy.</h1>
            <h1 class="mb-5">So come on down to a good production company and discover how
            good "good" can be.</h1>
            <a class="btn" href="mailto:argood9@gmail.com">Tell us your story</a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block scripts %}
  {{ super() }}
  <script type="text/javascript"
          src="{{ url_for('static', filename='js/smooth-scroll.js') }}"></script>
{% endblock scripts %}
